<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>windows Popup Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
 <!--[if lte IE 9]>
        <script>
        document.createElement('ng-app');
        document.createElement('ng-model');
        document.createElement('wnp-popup');
        document.createElement('wnp-model');
        // Optionally these for CSS
        document.createElement('ng:model');
        document.createElement('ng-app');
      </script>
<![endif]-->    
    
  </head>
  <body id="app" ng-app="app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
    <div class="container"  ng-controller="parentController"  ng-style="{'background-color': bgrColor}">
     <div class="header">

    <h1>Windows Popup AngularJS Module</h1>

    <table width="90%">
      <tr>
        <td>
          <h4>
            <a href="https://github.com/ervinn/windowsPopup">Download From GitHub.</a>
          </h4>
          <h4>
            <a href="https://github.com/ervinn/windowsPopup-dev">Download the Development Environment from GitHub.</a>
          </h4>
        </td>

        <td align="right">
          <img  align="right" width="100" height="100" src="images/wnp-logo.jpg">
        </td>

      </tr>
    </table>

    <wnp-version></wnp-version>

    </div>

    <h3> Child, Parent data binding Demo :</h3>

     <h4> Description :</h4>

     <p>
        This is a DEMO page to show the usage of the <b>'windowsPopup'</b> AngularJS module. The <b>'windowsPopup'</b> module helps you to integrate other popup windows to your main one page application. 
     </p>
     <p>   
        For each browser window AngularJs has to be loaded separatelly. You need to load the same <b>"WindowsPopup.js" </b> file in both the Parent and the Child window. 
        The <b>'windowsPopup'</b> module helps you to communicate between the Child and Parent window, by using the <b>wnp-popup</b> directive. You use the left mouse click to open a new window. See below for an example usage.
     </p>
     <wnp-pop url="views/modalHelp.html" wnp-pop-name="large">
     <p>
        Sometimes you may not want to open a new browser window; in that case you can open a Bootstrap Modal window. For Modal windows the Child(Modal) and Parent are running on the same AngularJS load environment, so no need to load the <b>"WindowsPopup.js" </b> file again for the Child(Modal) window. To open a Modal window, use the <b>wnp-pop</b> directive. 
        (You can try it by doing a right mouse click. <b style="color: red"><i> Do a right mouse click here ! </i></b> )
        You use the right mouse click to open a Modal window.        
     </p>
     </wnp-pop>
     <p>      
        Data binding from Child to Parent is managed by the <b>'wnp-model'</b> directive. This directive needs to be added as an attribute to an HTML tag where <b>'ng-module'</b> is present, in both Parent and Child. The <b>'wnp-model'</b> attribute is used to link Child to parent. 
     </p>

     <p>
     <h4> Description :</h4>
     For example, In the parent window you have :
     <pre> &lt;input type="text" wnp-model="<b>item_one</b>" ng-model="parentData.dat" /&gt; </pre>
     In the Child window you have :
     <pre> &lt;input type="text" wnp-model="<b>item_one</b>" ng-model="childData.dat" /&gt; </pre>
    
    See the <b> item_one </b> value, that is used to link the Child model data to the parent model data.

    In the Parent window you have :
    <pre>
 &lt;wnp-popup url="views/popupWindow.html"
       width="500"
       height="500"
       <b>wnp-name="popupWindow"</b>
       second-click-colse="true"
       &gt;Open Popup 1 from here, using Angular&lt;/wnp-popup &gt;
     </pre>

     At the time of clicking on that link, the Parent model data that was marked for linking is copied to the child windows encapsulated in a shareble object. The sharable object contains callback functions that will be executed and updates the Parents model at the time when the user changes the child linked model data.
     </p>
	 <p>
      You can have only one popup window open with the same window name, see above (<b>wnp-name="popupWindow"</b>). If you want to open more windows, use a different wnp-name. 
     
     </p>

     <hr />
     <wnp-pop url="views/contextMenuOne.html" wnp-pop-name="small">

      <h4> Some sample links to open popup windows by left click :</h4>
      <h5> (If you want to open the windows from a Modal context menu then <span style="color: red"> righ click below </span>) </h5>
      <p> Click the following link to open the popup. Click again to close : 
         <wnp-popup url="views/popupWindow.html#/sampleOne"
                       width="450" 
                       height="500"
                       left="0"
                       wnp-name="popupWindow"
                       wnp-title="This title is specified in the Parent Window."
                       wnp-toggle-open-close="true"
                       >Win 1, using windowsPopup module</wnp-popup>
     . <br />
         The following link opens a window, but needs to be closed by the Child : 
         <wnp-popup url="views/popupWindow.html#/sampleOne"
                       width="300"
                       height="300"
                       wnp-name="popupWindow_2"
                       wnp-toggle-open-close="false"
                       >Win 2, using windowsPopup module</wnp-popup>
     . <br />
         The following link opens a window, but you need to press 'Apply Change' to update : 
         <wnp-popup url="views/popupWindow.html#/sampleTwo"
                       width="400"
                       height="500"
                       wnp-name="popupWindow_3"
                       wnp-auto-update="false"
                       wnp-toggle-open-close="false"
                       >Win 3, No auto update</wnp-popup>
     . <br />
         The link opens a window; there is 'Apply Change' button for each field : 
         <wnp-popup url="views/popupWindow.html#/sampleThree"
                       width="400"
                       height="500"
                       wnp-name="popupWindow_4"
                       wnp-auto-update="false"
                       wnp-toggle-open-close="false"
                       >Win 4, Apply button for each value</wnp-popup>
     . <br />
         The link opens a window; there is 'Apply Change' for a group of fields : 
         <wnp-popup url="views/popupWindow.html#/sampleFour"
                       width="400"
                       height="500"
                       wnp-name="popupWindow_5"
                       wnp-auto-update="false"
                       wnp-toggle-open-close="false"
                       >Win 5, Apply for a group of values.</wnp-popup>
     . <br />
         The link opens a window; that window can open an other one ... : 
         <wnp-popup url="views/popupWindow.html#/sampleFive"
                       width="400"
                       height="500"
                       wnp-name="popupWindow_6"
                       wnp-auto-update="true"
                       wnp-toggle-open-close="false"
                       >Win 6, the Child will be parent.</wnp-popup>

      </p>
      </wnp-pop>

      <wnp-pop url="views/sampleOne.html" wnp-pop-name="small">
       <h4>
       Use the <span style="color: red">right mouse click</span> over the input fields to Open a Modal to change values.
       </h4>

      
     <div>
       <input type="text" wnp-model="item_one" ng-model="rnParentData.dat" />
       This is interpolated " {{ rnParentData.dat }} " data.
     </div>
     <div>
       <input type="text" wnp-model="item_two" ng-model="rnParentData_2" />
       This is interpolated " {{ rnParentData_2 }} " data.
     </div>

     Use wnp-popup as an attribute of a button :
     <button  type="button" wnp-popup=""
              url="views/popupWindow.html#/sampleOne"
                       width="300"
                       height="300"
                       wnp-name="popupWindow_2"
                       wnp-toggle-open-close="true"
                       >Win 1, as a button </button>
     <br />
    
    </wnp-pop>

     <p></p>
     <hr />

     <h4> Build below your own Popup Window wnp-popup link :</h4>

     <table width="100%" border="0" ng-controller="buildYourPopupCtrl">
     <tr>
       <td colspan="3" align="center">
        <div  ng-show="isOpen"><font color="red"><b><u>Your Window is opened.</u></b></font></div>
       </td>
     </tr>
      <tr> 
        <td>wnp-name :</td>
        <td> <input type="text" ng-model="wnpName" ng-disabled="isOpen" ng-style="inputStyle"  /> </td>
        <td> Does not specify the title of the new window. </td> 
      </tr>
      <tr>
        <td>url :</td>
        <td><input type="text" ng-model="wnpUrl" ng-disabled="isOpen" ng-style="inputStyle" /> </td> 
        <td> <select  ng-model="wnpUrl" ng-options="col for col in wnpUrlList" ng-style="inputStyle"></select></td>
      </tr>
      <tr>
        <td>wnp-title :</td>
        <td><input type="text" ng-model="wnpTitle" ng-disabled="isOpen" ng-style="inputStyle" /> </td>
        <td>This does specify the title of the new window.</td>
      </tr>
      <tr>
        <td>wnp-toggle-open-close :</td>
        <td><input type="checkbox" ng-model="wnpToggleOpenClose" ng-true-value="true" ng-false-value="false" ng-disabled="isOpen" /> </td>
        <td>Second click will close the window, if checked.</td>
      </tr>
      <tr>
        <td>wnp-auto-update :</td>
        <td><input type="checkbox" ng-model="wnpAutoUpdate" ng-true-value="true" ng-false-value="false" ng-disabled="isOpen" /> </td>
        <td>The Parent automatically updated when Child changes, if checked. </td>
      </tr>
      <tr>
        <td>width :</td>
        <td><input type="number" ng-model="wnpWidth"  ng-disabled="isOpen" ng-style="inputStyle" /> </td>
        <td>Min. value is 100 </td>
      </tr>
      <tr>
        <td>height :</td>
        <td><input type="number" ng-model="wnpHeight"  ng-disabled="isOpen" ng-style="inputStyle" /> </td>
        <td>Min. value is 100 </td>
      </tr>
      <tr>
        <td>left :</td>
        <td><input type="number" ng-model="wnpLeft"  ng-disabled="isOpen" ng-style="inputStyle" /> </td>
        <td> The left position of the window. Negative values not allowed.</td>
      </tr>       
      <tr>
        <td>top :</td>
        <td><input type="number" ng-model="wnpTop" ng-disabled="isOpen" ng-style="inputStyle" /> </td>
        <td> The top position of the window. Negative values not allowed. </td>
      </tr>      
      <tr>
        <td colspan="3">
       Open your Window  : 
       <wnp-popup url="{{wnpUrl}}"
                     wnp-name="{{wnpName}}"
                     wnp-title="{{wnpTitle}}"
                     width="{{wnpWidth}}"
                     height="{{wnpHeight}}"
                     wnp-auto-update="{{wnpAutoUpdate}}"
                     wnp-toggle-open-close="{{wnpToggleOpenClose}}"
                     left="{{wnpLeft}}"
                     top="{{wnpTop}}"
                     wnp-on-open="onOpen(wnpName)"
                     wnp-on-close="onClose(wnpName)"
                     >Click this.</wnp-popup>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        <pre> 
   &lt;wnp-popup url="<b>{{wnpUrl}}</b>"
                 wnp-name="<b>{{wnpName}}</b>"
                 wnp-title="<b>{{wnpTitle}}</b>"
                 width="<b>{{wnpWidth}}</b>"
                 height="<b>{{wnpHeight}}</b>"
                 wnp-auto-update="<b>{{wnpAutoUpdate}}</b>"
                 wnp-toggle-open-close="<b>{{wnpToggleOpenClose}}</b>"
                 left="<b>{{wnpLeft}}</b>"
                 top="<b>{{wnpTop}}</b>"
                 wnp-on-open="<b>onOpen(wnpName)</b>"
                 wnp-on-close="<b>onClose(wnpName)</b>"
                 &gt; <b>Click this. </b> &lt;/wnp-popup&gt;
        </pre>                     
        </td>
      </tr>      
      </table>
     <hr />
     <p>
      If you opened any of the windows above, you'd seen that from the Child window you were able to change the Parent beckground color. You may ask, how the data was bind from the Child when there was no <b>'ng-model'</b> tag in the Parent views. In those cases <b>'windowsPopup'</b> module gives you a service to use. You need to inject the <b>'wnpToChild'</b> service to you controller, see how was it was done for the above example :

      <pre>
.controller('ParentController', function($scope, <b> wnpToChild) </b> {
     $scope.bgrColor = 'lightgray'; 
     wnpToChild.<b>addOneSharedModel</b>($scope, <b>'item_three'</b>, 'bgrColor');
}
      </pre>

      The above code is in your parent's controller function where the 'bgrColor' variable is created. See the <b> item_three </b> link name, that is used to bind the Child model back to the parent.

      Lets see now where <b>item_three</b> is used in the Child.

      <pre>
  &lt;select wnp-model=<b>"item_three"</b> 
       ng-model="brgColor" 
       ng-options="col for col in ['red', 'blue', 'green', 'lightgray']"&gt;
  &lt;/select&gt;
      </pre>

      Note that the AngularJS <b>ng-model</b> name for the 'bgrColor' does not have to be the same for the parent and the child. The <b>"item_three"</b> model link has to be the same in both parent and child.
      (BTW: in the above example the child has "brgColor", and the parent has "brgColor", not the same...)
     </p>

 </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="app.js"></script>
        <script src="components/windowsPopup.js"></script>
        <script src="components/windowsPopupConfig.js"></script>        
        <!-- endbuild -->
</body>
</html>
