
  <p>This is the Popup Window (sampleThree.html)</p>

  <div>
    <input type="text" wnp-model="item_one" ng-model="popupInput.dat"  />  
    <button type="button" wnp-update-parent="item_one" >Apply Changes</button>  <br />
    This is {{popupInput.dat}} . 
  </div>
  <div>
    <input type="text" wnp-model="item_two" ng-model="popupInput_2"  /> 
	<button type="button" wnp-update-parent="item_two" >Apply Changes</button>  <br />
    This is {{popupInput_2}} . 
  </div>

  <h4> Change Parent background color </h4>

 <select wnp-model="item_three" ng-model="brgColor" ng-options="col for col in ['red', 'blue', 'green', 'lightgray']"></select> 

	<button type="button" wnp-update-parent="item_three" >Apply Changes</button>  <br />

 <br />

 <br />
 <p> If you changed the above values, each has its own "Apply Change" button.
 </p>

 <button type="button" wnp-update-parent="item_one" >Apply Changes for item_one</button>
 <br />
 <button type="button" wnp-update-parent="item_two" >Apply Changes for item_two</button>
 <br />
 <button type="button" wnp-update-parent="item_three" >Apply Changes for item_three</button>


