
  <p>This is the Popup Window (sampleFive.html)</p>

  <div>
  	  <input readonly="true" type="text" wnp-model="item_one" ng-model="popupInput.dat"  />
     This is {{popupInput.dat}} . 
  </div>
  <div>
     <input readonly="true" type="text" wnp-model="item_two" ng-model="popupInput_2"  />
     This is {{popupInput_2}} . 
  </div>

  <h4> Parent background color </h4>

 <select disabled="true" wnp-model="item_three" ng-model="brgColor" ng-options="col for col in ['red', 'blue', 'green', 'lightgray']"></select> <br />
 <br />
 <p> Two change the above values open a new window.
 </p>

<br />
<div>
 <wnp-popup url="popupWindow.html#/sampleOne"
               width="300"
               height="300"
               left="200"
               name="popupWindow_change"
               wnp-toggle-open-close="false"
               >Open Change window </wnp-popup>
</div>

